# APP
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME='your_app_name'
NEXT_PUBLIC_ENABLE_API_MOCKING=false
NEXT_PUBLIC_MOCK_API_PORT=8080
NODE_DEV="development"

# BETTER AUTH
BETTER_AUTH_SECRET=your_better_auth_secret_key
BETTER_AUTH_URL=http://localhost:3000

# DATABASE 
DATABASE_HOST_NAME=localhost
DATABSE_PORT=3306
DATABASE_USER=your_user_name
DATABASE_PASSWORD=
DATABASE_NAME=your_database_name
DATABASE_URL="mysql://<your-username>:<your-password>@<your_host_name>:<your_port_number>/<your_database_name>"

# SOCIAL PROVIDERS
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_secret

# RESEND
RESEND_API_KEY=your_resend_api_key


# JOB SEARCH API
JOB_SEARCH_API_URL=https://example.com/search-v5
JOB_SEARCH_API_KEY=your_api_key
JOB_SEARCH_API_HOST=your_api_host


# GEMINI API KEY
GOOGLE_GEMINI_API_KEY=your_gemini_api_key
